<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="MachConfigFilePath" value="D:\Projects\repos\ToshibaBinary2Db\TBin2DbConsole\Data\MachineConfiguration.xml" />
		<add key="LocalFilePath" value="D:\download\" />
		<add key="ClearSourceFileOnDownload" value="0" />
		<add key="ConnectionString" value="Server=DESKTOP-202FRQ9;Database=ToshibaBinaryFileDb;Trusted_Connection=True;" />
		<add key="MachConfigFilePath" value="D:\Projects\repos\ToshibaBinary2Db\TBin2DbConsole\Data\MachineConfiguration.xml" />
		<add key="LogFilePath" value="D:\download\ToshibaBinary2Db\Logs\" />
		<add key="LocalFilePath2" value="D:\download\" />

	</appSettings>
	
</configuration>